@model IEnumerable<TransacManager.Models.TransactionViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrigAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OldBalanceOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewBalanceOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OldBalanceDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewBalanceDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFraud)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrigAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOrig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldBalanceOrig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewBalanceOrig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldBalanceDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewBalanceDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFraud)
            </td>
            <td>
                @Html.ActionLink("Mark as Fraud", "Edit", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>

